<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }

    </style>
</head>

<body>

<div class="container">
    <h1>Calculator</h1>
</div>

<div>
    {{ error_statement }}
</div>

<div class="container">
    <form action="/send" method="POST">
    <label for="Name">Name</label>
    <input type="text" placeholder="Your name" name="name" >
</div>
<div class="container">
    <form action="/send" method="POST">
        <label for="Number One">First Number</label>
        <input
                type="number"
                step="any"
                placeholder="First Number"
                class="u-full-width"
                name="num1"
        />

        <label for="Number Two">Second Number</label>
        <input
                type="number"
                step="any"
                placeholder="Second Number"
                class="u-full-width"
                name="num2"
        />

        <label for="Operation">Operation</label>
        <select class="u-full-width" name="operation">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>

        <input class="alert" type="submit" value="Calculate" id="calc_btn"/>

        <div class="alert">
<!--            <h4>{{ num1 }} {{ operation }} {{ num2 }}</h4>-->
            <h6>{{ name }} answer is : {{ sum }}</h6>
        </div>



</body>

</html>