<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
      .error{
    color: red
}



    </style>
</head>
<body>

<div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <div class="alert-{{category}}">Error: {{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>

<div class="container">
    <h6>Please try again..</h6>
</div>


<div class="container">
    <form action="/send" method="POST">
        <label for="Number One">First Number</label>
        <input
                type="number"
                step="any"
                placeholder="First Number"
                class="u-full-width"
                name="num1"
        />

        <label for="Number Two">Second Number</label>
        <input
                type="number"
                step="any"
                placeholder="Second Number"
                class="u-full-width"
                name="num2"
        />

        <label for="Operation">Operation</label>
        <select class="u-full-width" name="operation">
            <option value="add">Add</option>
            <option value="subtract">Subtract</option>
            <option value="multiply">Multiply</option>
            <option value="divide">Divide</option>
        </select>

        <input type="submit" value="Calculate" id="calc_btn"/>

        <div class="alert">
            {{ sum }}
        </div>

</body>
</html>